storage/
output/
archive/
input/*
intermediate/*
saved_crops/*
miniconda3/*
tests/*
nohup.out
?/*

out_test/
out_test2
storage_test/

*.pyc
.ipynb_checkpoints/
.snakemake/

**/.DS_Store
**/._.DS_Store
